$font-family: 'EditorSans';

$path-editor-sans-pro-light: './assets/fonts/Editor Sans Pro Light.ttf';
$path-editor-sans-pro-light-italic: './assets/fonts/Editor Sans Pro Light Italic.ttf';
$path-editor-sans-pro-book: './assets/fonts/Editor Sans Pro Book.ttf';
$path-editor-sans-pro-medium: './assets/fonts/Editor Sans Pro Medium.ttf';
$path-editor-sans-pro-bold-italic: './assets/fonts/Editor Sans Bold Italic.ttf';
$path-editor-sans-pro-black: './assets/fonts/Editor Sans Pro Black.ttf';
$path-editor-sans-pro-ultra: './assets/fonts/Editor Sans Pro Ultra.ttf';


$text-size-lg: 72px;
$text-size-md: 32px;
$text-size-sm: 24px;
$text-size-xs: 16px;

$color-primary: #FF4C24;
